
body {
    font-family: Arial, Helvetica, sans-serif;
}
form {border: 3px solid rgb(204, 186, 85);}

input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.tab active {
    background-color: #cccc);
    color: white:
    padding: 14px 20px;

}
.field-wrap {
    background-color: blue;
    color: rgb(14, 3, 3);
    padding-left: 0%;
    display: inherit;
    margin: 1px;
    border: 1px;


}
.req {
    text-decoration: rgb(0, 0, 0);
    text-align: left;
    
}
.forgot {
    color: rgb(204, 186, 85);
    text-align: center;
}
.tab active {
    color: rgb(2, 5, 4);


}
#login {
    color: rgb(204, 186, 85);
    text-align: center;
}
.soft-codeon-content {
    color: rgb(204, 186, 85);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    

}
#tab active {
    text-align: center;
}